body {
  background: #fdf6e3;
  padding: 1em;
}

.title {
  color: #333;
  font-family: 'Bree Serif', serif;
}

.date::before,
.date::after {
  content: '·';
}

.date {
  display: inline-block;
  font-size: .7em;
  color: #666;
}

.tag {
  font-size: 0.5em;
  color: #fff;
  background-color: #ccc;
  display: inline-block;
  padding: 0.2em;
  border-radius: 0.2em;
  line-height: 1em;
  vertical-align: middle;
}
